{
  "include": [
    "src/*.ts",
    "src/**/*.ts"
  ],
  "exclude": [
    "lib",
    "node_modules",
    "spec",
    "src/types"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "json",
    "text-summary",
    "html"
  ],
  "cache": true,
  "all": true
}
